<!DOCTYPE HTML>
<html lang="en">
	<head>
	  <title>Supermercado</title>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <meta name="Fernando Javier Tejerina" content="fertejj">
	</head>
	<body>
		<header>
		<h1>Titulo de la pagina</h1>
		<nav>
			<a>Inicio</a>
			<a>Nav1</a>
			<a>Nav2</a>
		</nav>
		</header>
		<main>
			<section>
				<h2></h2>
				<h3></h3>
				<p></p>
			</section>
			<section>
				<h2></h2>
				<h3></h3>
				<p></p>
			</section>
			<section>
				<h2></h2>
				<h3></h3>
				<p></p>
			</section>
		</main>
	</body>
</html>