<!DOCTYPE HTML>
<html lang="es">
	<head>
	  <title>Programacion Visual</title>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <meta name="Fernando Javier Tejerina" content="fertejj">
	</head>
	<body>
		<header>
		<h1>Programacion Visual - Analista Programador</h1>
		<h2>Facultad de Ingenieria - UNJu</h2>
		<nav>
		        	<h2 id="arriba"><u>Índice</u></h2>
		           	<ol>
		           		<li><a href="#section1">¿Que es Programación Visual?</a></li>
		           		<li><a href="#section2">¿En qué se diferencia de la Programación estructurada?</a></li>
		           		<li><a href="#section3">¿Cuáles son las ventajas de la Programación Visual?</a></li>
		           	</ol>
		        </nav>
		</header>
		
		<main>
			<section id="section1">
				<h2>¿Que es Programación Visual?</h2>
				<p>La programación visual es un paradigma de programación en el cual los desarrolladores crean programas manipulando elementos gráficos en lugar de escribir código en texto. Este enfoque utiliza un entorno visual para diseñar y desarrollar aplicaciones, facilitando la comprensión y la manipulación de la lógica del programa mediante representaciones visuales.</p>
			</section>
			<section id="section2">
				<h2>¿En qué se diferencia de la Programación estructurada?</h2>
				<p>	La programación visual utiliza elementos gráficos como bloques y diagramas para construir programas, siendo ideal para principiantes y proyectos de prototipado rápido. En contraste, la programación estructurada se basa en código textual organizado en estructuras lógicas bien definidas, siendo más flexible y poderosa para resolver problemas complejos en aplicaciones profesionales. Ambos enfoques tienen sus ventajas y aplicaciones específicas en el desarrollo de software.			</section>
			<section id="section3">
				<h2>¿Cuáles son las ventajas de la Programación Visual?</h2>
				<p>La Programación Visual presenta los siguientes pro y contras:</p>
						<table>
							<tr>
				        		<th>Ventajas</th>
				        		<th>Desventajas</th>
				    		</tr>
				    		
				    		<tr>
				    			<td>Menos Costoso</td>
				    			<td>Escalabilidad limitada de la plataforma</td>
				    		</tr>
				    		
				    		<tr>
								<td>Base de Conocimientos Accesible</td> 
								<td>Potencial Limitado</td>       		
				    		</tr>
				    		
				    		<tr>
				    			<td>Desarrollo de software más rápido</td>
				    			<td>Tedioso y voluminoso</td>
				    		</tr>
						</table>
			</section>
		</main>
		<aside>
				<p>
				Para que personas sin experiencia puedan aprender a programar de forma sencilla, se han inventado los <b>lenguajes visuales</b>,
				como Scratch. En los lenguajes visuales se programa uniendo bloques, que son dibujos que tienen código asociado.</p>
				<img src="../static/img/scratch.png" alt="lenguaje stratch" width="300" height="300">
				<p><a href="https://es.wikipedia.org/wiki/Scratch_(lenguaje_de_programaci%C3%B3n)">Saber más</a></p>
			</aside>
		<footer>
			<p>Autor: Fernando Javier Tejerina</p>
			<p>Contacto:</p>
			<ul>
				<li>Email: fertejerina97@gmail.com</li>
				<li><a href="https://www.linkedin.com/in/fertejj/">Linkedin: Fernando Javier Tejerina</a></li>
			</ul>
		</footer>
		<p><a href="#arriba">Ir arriba</a></p>
	</body>
</html>